name: rootfs

on:
  workflow_dispatch:

jobs:
  rootfs:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 20
    strategy:
            matrix:
                desktop: []
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: sudo apt update && sudo apt install unzip bash tar git wget dpkg

      - name: Build rootfs
        run: sudo sh test-rootfs_build.sh ${{ matrix.desktop }} ${{ github.workspace }}

      - name: Upload rootfs.img
        uses: actions/upload-artifact@v4
        with:
          name: between_${{ matrix.desktop }}
          path: rootfs.7z
          compression-level: 0
